.hidden {
  display: none;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

body {
  margin: 0;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

header {
  min-width: 980px;
  width: 100%;
  height: 64px;
  background-color: #4285f4;
  color: white;
  font-size: 18px;
}

header > .title {
  float: left;
  line-height: 64px;
  margin-left: 16px;
  border-right: 1px solid #5b92ec;
  padding-right: 16px;
  margin-right: 16px;
  font-weight: bold;
}

header:after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 63px;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  box-shadow: 0px 0px 8px 2px #555;
}

@media (max-width: 1380px) {
  header {
    height: 128px;
  }

  header > .title {
    line-height: 128px;
  }

  header:after {
    margin-top: 127px;
  }
}

header > .controls {
  display: flex;
  flex-wrap: wrap;
}

header .control {
  color: #c2d4f1;
  font-size: 16px;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  flex: none;
}

header .control a {
  color: #c2d4f1;
  text-decoration: none;
}

header .control button {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

header .control button.dropdown:after {
  content: " ▾";
}

svg {
  margin: 0 16px;
}

#control-filter-container {
  z-index: 20;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 10px 0 grey;
  top: 8px;
  padding: 8px 16px;
  color: black;
  font-size: 14px;
  line-height: 14px;
  width: 400px;
}

#control-filter-container > button {
  line-height: 32px;
  margin: 12px 0;
  border-radius: 2px;
  padding: 0 12px;
  background-color: #4285f4;
  color: white;
}

.control {
  margin-right: 24px;
  position: relative;
}

.control .helper-text {
  display: none;
}

.control:hover .helper-text {
  display: block;
  position: absolute;
  background-color: #4285f4;
  border-radius: 2px;
  width: 300px;
  padding: 10px;
  line-height: normal;
  box-shadow: 5px 5px 5px #555;

  z-index: 5;
  left: -10px;
  top: 50px;
}

/**
.control:hover .helper-text:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 4;
  box-shadow: 0px 0px 8px 2px #555;
}
*/

.control > select {
  background-color: transparent;
  padding: 4px 14px 4px 0;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid #c2d4f1;
  border-radius: 0;
  appearance: none;
  color: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

.control.select-container:after {
  content: "▾";
  position: relative;
  right: 16px;
  pointer-events: none;
}

.control .tree-multiselect {
  border: 0;
}

.control .tree-multiselect > .selections {
  padding: 0;
}

.control .tree-multiselect > .selections input[class="search"] {
  height: 38px;
  font-size: inherit;
  border: 0;
  background-color: #eee;
  width: auto;
}

.control .tree-multiselect > .selections .auxiliary {
  border-radius: 2px;
  border: 0;
  background-color: #eee;
  height: 38px;
  margin-bottom: 10px;
}

.control .tree-multiselect > .selections .auxiliary:before {
  content: "⚲";
  transform: rotate(-45deg);
  display: inline-block;
  font-weight: bold;
  padding: 0 10px;
}

.control .tree-multiselect .section {
  font-size: inherit;
  color: black;
}

.control .tree-multiselect .title {
  padding-left: 0;
  background-color: inherit;
  color: inherit;
}

.control .tree-multiselect .section .item {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
}

.control .tree-multiselect .title .collapse-section {
  margin-left: 0;
}

.control .tree-multiselect .title,
.control .tree-multiselect .item {
  margin-bottom: 6px;
}

.control .tree-multiselect .section.collapsed > div.title span.collapse-section:after {
  content: "▸";
}

.control .tree-multiselect div.title > span.collapse-section:after {
  content: "▾";
}

.controls {
  list-style: none;
  padding-left: 0;
}

li.control {
  display: inline-block;
  margin-right: 20px;
  padding: 6px 12px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  background-color: #eee;
}

.d3-tip {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}
.d3-tip p {
  margin: 0;
  padding: 0;
}
.d3-tip p:nth-child(1) {
  padding-right: 28px;
}
.hide-popover {
  position: absolute;
  top: 5px;
  right: 5px;
}

.axis > .label {
  fill: black;
}

.grid.x path, .grid.x text {
  display: none;
}
.grid.x line {
  stroke: #ebebeb;
}

#share-info {
  position: fixed;
  background-color: #4285f4;
  border-radius: 2px;
  width: 400px;
  padding: 10px;
  line-height: normal;
  box-shadow: 5px 5px 5px #555;
  margin-left: -200px;

  z-index: 99;
  left: 50vw;
  top: 40vh;
}

#share-info-url {
  width: 100%;
  font-size: 16px;
}
